*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
.banner{
     background-image: url(./neuron05.jpg);
     background-position: center;
     background-size: cover;
     height: 120vh;
     width: 100%;
     padding: 0 10%;
     box-sizing: border-box;
}
.nav li{
    display: inline-block;
    vertical-align: top;
    color: white;
    margin-left: 22px;
    transition: .5s;
}
.nav ul{
    cursor: pointer;
    font-size: 18px;
    float: right;
    margin-top: -22px;
}
li:hover{
    color:gray;
}
.logo{
    margin-top: 50px;
    cursor: pointer;
    margin-left: -50px;
}
.maneborder{
    /* border: 1px solid #000; */
    height: 250px;
    width: 53%;
    margin-left: -50px;
    color: white;
    line-height: 50px;
    margin-top: 150px;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
}
.maneborder h3{
    margin-top: 20px;
}
.learng{
    border: 1px solid white;
    height: 45px;
    width: 30%;
    color: #01A2F3;
    font-size: 17px;
    border-radius: 30px;
    margin-top: 40px;
    cursor: pointer;
    transition: .5s;
}
.learng:hover{
    background-color: transparent;
    color: white;
}
.join{
    border: 1px solid white;
    height: 45px;
    width: 25%;
    color: white;
    font-size: 17px;
    border-radius: 30px;
    margin-left: 2%;
    margin-top: 40px;
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
}
.join:hover{
    color: #01A2F3;
    background-color: white;
}
.robot{
    height: 450px;
    width: 23%;
    margin-top: 40px;
    /* border: 1px solid #000; */
    display: inline-block;
    margin-left: -50px;
    animation-duration: 3s;
    transition: all 1s;
    animation-name: upanddown;
    animation-iteration-count: infinite;
}
@keyframes  upanddown{
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translatey(20px);
    }
    100%{
        transform: translatey(0px);
    }
}
.robot>img{
    width: 100%;
    height: 100%;
}
.men{
    /* border: 1px solid #000; */
    width: 26%;
    height: 350px;
    display: inline-block;
    margin-left: 6%;
}
.men>img{
    width: 100%;
    height: 100%;
}
/* /////////////// */
.sheet1{
    /* border: 1px solid #000; */
    width: 100%;
    height: 750px;
}
.border1{
    /* border: 1px solid #000; */
    width: 65%;
    height: 600px;
    padding: 30px;
    box-sizing: border-box;
}
.advanced{
    /* border: 1px solid #000; */
    height: 250px;
    width: 35%;
    margin-left: 10%;
    margin-top: 30px;
    box-shadow: -1px 6px 22px 8px rgba(168,157,157,0.29);
    border-radius: 10px;
}
.pro{
    color: #333333;
    text-align: center;
    margin-top: -10px;
}
.one{
    margin-left: 20%;
}
.class{
    text-align: center;
    line-height: 23px;
    margin-top: 10px;
    color:#676767;
}
.advanced:hover{
    background: linear-gradient(#0AC679,#02A0FB);
    color: white;
}
.advanced:hover .pro{
    color: white;
}
.advanced:hover img{
    filter: brightness(100);
}
.advanced:hover .class{
    color: white;
}

.cloud{
     /* border: 1px solid #000; */
     height: 250px;
     width: 35%;
     margin-left: 10%;
     margin-top: 30px;
     box-shadow: -1px 6px 22px 8px rgba(168,157,157,0.29);
     border-radius: 10px;
     display: inline-block;
     vertical-align: top; 
}
.cloud:hover img{
filter: brightness(100);
}

.two{
    margin-left: 17%;
}
.pro{
    text-align: center;
    margin-top: -10px;
}
.class{
    text-align: center;
    line-height: 23px;
    margin-top: 10px;
    color: gray;
}
.cloud:hover{
    background: linear-gradient(#0AC679,#02A0FB);
    color: white;
}
.cloud:hover .img{
    color: white;
}
.cloud:hover .class{
    color: white;
}
.cloud:hover .pro{
    color: white;
}
.intergration{
    /* border: 1px solid #000; */
    height: 250px;
    width: 35%;
    margin-left: 5%;
    box-shadow: -1px 6px 22px 8px rgba(168,157,157,0.29);
    border-radius: 10px;
    display: inline-block;
    margin-top: -130px;
}
.intergration:hover{
    background: linear-gradient(#0AC679,#02A0FB);
    color: white;
}
.intergration:hover .img{
    color: white;
}
.intergration:hover .class{
    color: white;
}
.intergration:hover .pro{
    color: white;
}
.intergration:hover img{
    filter: brightness(100);
}

.robotic{
     /* border: 1px solid #000; */
    height: 250px;
    width: 35%;
    margin-left: 50%;
    box-shadow: -1px 6px 22px 8px rgba(168,157,157,0.29);
    border-radius: 10px;
    display: inline-block;
    margin-top: -130px;   
}
.robotic:hover{
    background: linear-gradient(#0AC679,#02A0FB);
    color: white;
}
.robotic:hover .img{
    color: white;
}
.robotic:hover .class{
    color: white;
}
.robotic:hover .pro{
    color: white;
}
.robotic:hover img{
    filter: brightness(100);
}
/* ////////// */
.sideborder{
    /* border: 1px solid #000; */
    height: 400px;
    width: 40%;
    margin-left: 57%;
    margin-top: -450px;
}
.head{
    /* border: 1px solid #000; */
    font-size: 40px;
    color: #333333;
}
.short{
    margin-top: 50px;
    font-size: 18px;
    color:gray;
    line-height: 25px;
}
.long{
    font-size: 18px;
    line-height: 25px;
    margin-top: 35px;
    color: gray;
}
.linearcolor{
    border: 1px solid white;
    width: 40%;
    color: white;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 35px;
    background: linear-gradient(#0AC679,#02A0FB);
    height: 50px;
    cursor: pointer;
}
.linearcolor:hover{
    background: linear-gradient(to left,#0AC679,#02A0FB);
}
/* ///////////////////// */
.nextdiv{
    /* border: 1px solid #000; */
    height:500px;
    width: 49%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.bolgborder{
    height: 10px;
    width: 20%;
    margin-top: 70px;
    position: absolute;
    top: 3%;
    margin-left: -170px;
    z-index: -2;
    background: linear-gradient(to left,#0AC679,#02A0FB);
    left: 42%;
}
.artificial{
    /* border: 1px solid #000; */
    width: 70%;
    height: 70px;
    margin: 60px 110px;
}
.upper{
    margin-top: 20px;
    margin-left: 16%;
    font-size: 19px;
    color: gray;
}
.downword{
    margin-top: 20px;
    margin-left: 16%;
    font-size: 19px;
    color: gray;
}
.button1{
    width: 30%;
    height: 60px;
    border-radius: 30px;
    border: none;
    margin-top: 45px;
    margin-left: 15%;
    font-size: 20px;
    color: white;
    cursor: pointer;
    background: linear-gradient(#0AC679,#02A0FB);
}
.button1:hover{
    background: linear-gradient(to left,#0AC679,#02A0FB);
}
.borderradius{
    border: 1px solid #03AAD7;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin-left: 55%;
    margin-top:-60px;
    cursor: pointer;
    position: relative;
}
.borderradius::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(white,white);
    display: block;
    border-radius: 50%;
}
.borderradius:hover::before{
    animation: bubble 1.2s linear infinite;
}
.icon10{
    color: #09C57E;
    margin-left: 33%;
    margin-top: 15px;
    position: absolute;
    left: 0;
    top: 0;
}
@keyframes bubble{
    0%{
    transform: scale(1.2);
    background-image: linear-gradient(#0AC679,#02A0FB);
    }
    50%{
     transform: scale(1.5);
     opacity: .5;
    }
    100%{
     transform: scale(1.5);
     opacity: 0;
    }
}
.pic{
    /* border: 1px solid #000; */
    height: 500px;
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
.pic>img{
    width: 100%;
    height: 100%;
}
/* ///////dwdwdw//////// */
.smalldiv{
    /* border: 1px solid #000; */
    height: 300px;
    width: 100%;
    background-image:url(./neuron13.jpg);
    background-position:center;
    background-size: cover;
    margin-top: 80px;
}
.firstset{
    /* border: 1px solid #000; */
    margin-top: 40px;    
    height: 280px;
    width: 23%;
    margin-left: 1.5%;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.six{
    position: absolute;
    top: 23%;
    left: 30%;
    color: white;
    font-size: 40px;
}
.complete{
    position: absolute;
    color: white;
    left: 20%;
    font-size: 20px;
    top: 40%;
}
.four{
    position: absolute;
    top: 23%;
    left: 30%;
    color: white;
    font-size: 40px;
}
.npl{
    position: absolute;
    color: white;
    left: 30%;
    font-size: 20px;
    top: 40%;
}
.three{
    position: absolute;
    top: 23%;
    left: 30%;
    color: white;
    font-size: 40px;
}
.clients{
    position: absolute;
    color: white;
    left: 21%;
    top: 40%;
    font-size: 20px;
}
.eight{
    position: absolute;
    top: 23%;
    left: 30%;
    color: white;
    font-size: 40px;
}
.saved{
    position: absolute;
    color: white;
    left: 20%;
    top: 40%;
    font-size: 20px;
}
/* //////////////// */
.services{
    /* border: 1px solid #000; */
    width: 100%;
    /* background-color: #EFF1F7; */
    /* height: 600px; */
    position: relative;
}
.blue{
     margin-top: 15px;
}
.white{
    margin-top: 18px;
}
.red{
    margin-top: 15px;
}
.bold{
    height: 10px;
    width: 10%;
    margin-top: 70px;
    position: absolute;
    top: -5%;
    margin-left: -170px;
    z-index: -2;
    background: linear-gradient(to left,#0AC679,#02A0FB);
    left: 58%;
}
.our{
    /* border: 1px solid #000; */
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    color: #333333;
}
.total{
    /* border: 1px solid #000; */
    width: 90%;
    margin-left: 7%;
    margin-top: 40px;
    /* height: 700px; */
}
.virtual{
    /* border: 1px solid #000; */
    width: 30%;
    /* background-color: white; */
    height: 350px;
    margin-left: 2.5%;
    margin-top: 29px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    box-shadow: -1px 2px 26px -13px rgba(107,101,101,0.92);
}
.head1{
    font-size: 23px;
    color: #333333;
}
.head2{
    color: gray;
    margin-top: 30px;
    font-size: 18px;
    line-height: 25px;
}
.virtual:hover{
    color: white;
    background: linear-gradient(#01A2F3,#08C47E);
}
.virtual:hover img{
    filter: brightness(100);
}
.virtual:hover .head1{
    color: white;
}
.virtual:hover .head2{
    color: white;
}
.virtual:hover .white{
    color: white;
}
/* ///////////// */
.latest{
   /* border: 1px solid; */
   width: 100%;
   color: #333333;
   /* height: 500px; */
   position: relative;
}
.bold1{
    /* border: 1px solid #000; */
    height: 10px;
    width: 12%;
    position: absolute;
    background: linear-gradient(to left,#0AC679,#02A0FB);
    top: 7%;
    margin-left: -170px;
    z-index: -2;
    left: 58%;
}
.project{
    /* border: 1px solid #000; */
   text-align: center;
   margin-top: 30px;
   font-size: 40px;
   position: relative;
}
.hugeborder{
    /* border:1px solid #000; */
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
    overflow: hidden;
}
.slider{
    width: 200%;
    /* border: 1px solid red; */
    animation: slider 9s linear infinite;
}
@keyframes slider {
    0%{
        margin-left: 0;
    }
    27%{
        margin-left: -33%;
    }
32%{
    margin-left: -33%;
}
59%{
    margin-left: -66.5%;
}
64%{
    margin-left: -66.5%;
}
91%{
    margin-left: -100%;
}
100%{
    margin-left: -100%;
}
}
.hard{
    /* border: 1px solid #000; */
    height: 400px;
    width: 15%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    border-radius: 8px;
}
.hard>img{
    width: 100%;
    height: 100%;
}
.hard::after{
    content:"";
    color: red;
    height: 400px;
    width: 30%;
}   
/* mnnnnnnnnnnnnnnnnnnnnnnn */
.letter{
    /* border: 1px solid #000; */
    width: 100%;
    height: 530px;
    margin-top: 300px;
    background-image: url(./neuron22.jpg);
    background-position: center;
    background-size: cover;
    padding: 1px;
    box-sizing: border-box;
    position: relative;
}
 .smallborder{ 
    /* border: 1px solid #000; */
    width: 85%;
    margin-left: 8%;
    position: absolute;
    background-color: white;
    margin-top: -600px;
    height: 400px;
    box-shadow: 0px -4px 32px -6px rgba(145,132,132,0.75);
    position: absolute;
}
.email{
    /* border: 1px solid #000; */
    height: 300px;
    width: 30%;
    font-size: 290px;
    margin-left: 5%;
    margin-top: 40px;
    color: #03AAD7;
    display: inline-block;
}
.write{
    /* border: 1px solid #000; */
    display: inline-block;
    vertical-align: top;
    margin-top: 80px;
    font-size: 20px;
}
.miss{
    color: #333333;
}
.input{
    margin-left: -400px;
    width: 56%;
    height: 30px;
    vertical-align: top;
    margin-top: 270px;
    outline: none;
    border: none;
    background: transparent;
    border-bottom:1px solid #CCECFE;
}
.bd{
    /* border: 1px s    olid #000; */
    height: 40px;
    width: 4%;
    border-radius: 50%;
    /* float: right; */
    margin-top: -80px;
    margin-left: 88%;
    background: linear-gradient(#0AC679,#02A0FB);
}
.arrow{
    color: white;
    font-size: 30px;
    margin-left: 16%;
    margin-top: 5px;
} 
.background{
    /* border: 1px solid #000; */
    /* padding: 10px; */
    margin-top: 300px;
     text-align: center;
     margin-left: -80px;
}
.img1{
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    margin-top: 40px;
}
/* wwwwwwwwwwwwwwww */
.work{
    /* border: 1px solid #000; */
    width: 100%;
    /* height: 400px; */
    text-align: center;
}
.how{
    margin-top: 50px;
    font-size: 40px;
    color: #333333;
}
.maneborder1{
    /* border: 1px solid #000; */
    height: 550px;
    width: 94%;
    margin-left: 4%;
    margin-top: 50px;
}
.little1{
    border: 2px dotted #02A0FB;
    width: 20%;
    height: 250px;
    margin-top: 20px;
    margin-left: 3%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
}
.little2 img{
    filter: brightness(100);
}
.little2::before{
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(white,white);
    opacity:0;
    display: block;
    border-radius: 50%;
}
.little2:hover::before{
    animation: bubble1 1.2s linear infinite;
}
.little2{
    /* border: 1px solid #000; */
    height: 200px;
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
    border-radius: 50%;
    background: linear-gradient(#0AC679,#02A0FB);
    position: relative;
}
@keyframes bubble1 {
    0%{
       transform: scale(1.2);
       opacity: 1;
       background-image: linear-gradient(#0AC679,#02A0FB);
    }
    50%{
       transform: scale(1.5);
       opacity: .5;
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}
.change{
    margin-top: 20px; 
    margin-left: 10%;
    position: absolute;
    top: 0;
    left: 0;
}
.change1{
    margin-top: 35px;
    margin-left: 10%;
    position: absolute;
    top: 0;
    left: 0;
}
.change2{
    margin-top:35px;
    position: absolute;
    top: 0;
    left: 0;  
    margin-left: 10%;
}
.outline{
     /* border: 1px solid #000; */
     height: 30px;

     margin-top: 50px;
     color: #333333;

}
.littleborder{
    border: 2px dotted #02A0FB;
    height: 50px;
    width: 4%;
    margin-left: 10%;
    border-radius: 50%;
    margin-top: 100px;
}
.insidelittle{
    /* border: 1px solid #000; */
    height: 35px;
    width: 69%;
    margin-left: 15%;
    margin-top: 7px;
    border-radius: 50%;
    background: linear-gradient(#0AC679,#02A0FB);
}
.dotted{
    border: 2px dotted #02A0FB;
    width: 20%;
    height: 0;
    margin-left: 15%;
    margin-top: -30px;
}

.littleborder1{
    border: 2px dotted #02A0FB;
    height: 50px;
    width: 4%;
    margin-left: 36%;
    border-radius: 50%;
    margin-top: -29px;
}
.insidelittle1{
    /* border: 1px solid #000; */
    height: 35px;
    width: 69%;
    margin-left: 15%;
    margin-top: 7px;
    border-radius: 50%;
    background: linear-gradient(#0AC679,#02A0FB);
}
.dotted1{
    border: 2px dotted #02A0FB;
    width: 20%;
    height: 0;
    margin-left: 41%;
    margin-top: -30px;
}

.littleborder2{
    border: 2px dotted #02A0FB;
    height: 50px;
    width: 4%;
    margin-left: 62%;
    border-radius: 50%;
    margin-top: -29px;
}
.insidelittle2{
    /* border: 1px solid #000; */
    height: 35px;
    width: 69%;
    margin-left: 15%;
    margin-top: 7px;
    border-radius: 50%;
    background: linear-gradient(#0AC679,#02A0FB);
}
.dotted2{
    border: 2px dotted #02A0FB;
    width: 20%;
    height: 0;
    margin-left: 67%;
    margin-top: -30px;
}
.littleborder3{
    border: 2px dotted #02A0FB;
    height: 50px;
    width: 4%;
    margin-left: 88%;
    border-radius: 50%;
    margin-top: -29px;
}
.insidelittle3{
    /* border: 1px solid #000; */
    height: 35px;
    width: 69%;
    margin-left: 15%;
    margin-top: 7px;
    border-radius: 50%;
    background: linear-gradient(#0AC679,#02A0FB);
}
/* ////////////// */
.newpage{
    background-color: #EFF1F7;
    width: 100%;
    height: 900px;
}
.post2{
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    font-size: 40px;
    color: #333333;
}
.linearborder{
    /* border: 1px solid #000; */
    height: 600px;
    width: 97%;
    margin-left: 3%;
    overflow: hidden;
}
.slider2{
    /* border: 1px solid red; */
    width: 200%;
    animation: slider2 9s linear infinite ;
}
@keyframes slider2{
    0%{
        margin-left: 0;
    }
    27%{
        margin-left: -35%;
    }
    32%{
        margin-left: -35%;
    }
    59%{
        margin-left: -67.5%;
    }
    64%{
        margin-left: -67.5%;
    }
    91%{
        margin-left: -100%;
    }
    100%{
        margin-left: -100%;
    }
}
.step1{
    /* border: 1px solid #000; */
    width: 15%;
    height: 590px;
    position: relative;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
}
.img10{
    /* border: 1px solid #000; */
    height: 300px;
    width: 100%;
}
.calender{
    margin-left: 7%;
    margin-top: 20px;
    color: #02A0FB;
}
.nov{
    margin-left: 12%;
    margin-top: -18px;
}
.person{
    margin-left: 39%;
    position: absolute;
    top:55%;
    color: #02A0FB;
}
.ad{
    margin-left: 45%;
    margin-top: -16px;
}
.ten{
    margin-left: 60%;
    margin-top: -21px;  
    color: #02A0FB;
}
.comm{
    margin-left: 67%;
    margin-top: -21px;
    font-size: 18px;
}
.para{
    margin-left: 7%;
    margin-top: 10px;
    cursor: pointer;
    transition: all .5s;
    color: #333333;
}
.para:hover{
    color: #0AC679;
}
.write2{
    margin-left: 7%;
    margin-top: 10px;
    color: gray;
    line-height: 25px;
}
.readmore{
    border: none;
    width: 40%;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(#0AC679,#02A0FB);
    color: white;
    margin-left: 6%;
    margin-top: 20px;
    cursor: pointer;
}
.readmore:hover{
    background: linear-gradient(to right,#0AC679, #02A0FB);
    
}
/* nexttttttttttttttttttttttttttttt */
.mixedpage{
     background-image: url(./neuron05.jpg);
     background-position: center;
     background-size: cover;
     height: 100vh;
     width: 100%;
     position: relative;
}
.onimage{
    /* border: 1px solid #000; */
    background-color: #fff;
    width: 30%;
    height:600px;
    margin-left: 5%;
    margin-top: -100px;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0px -7px 20px -10px rgba(179,159,159,0.67);
}
.map{
    font-size: 100px;
    margin: 40px 50px;
    color: #08C47E;
}
.contact2{
    margin-left: 12%;
    font-size: 40px;
    margin-top: -20px;
    color: #333333;
}
.dot{
    font-size: 30px;
    color: #02A0FB;
    margin-left: 13%;
    margin-top: 20px;
}
.visitus{
    margin-left: 25%;
    margin-top: -30px;
    color: #333333;
}
.oldage{
    margin-left: 25%;
    margin-top: 5px;
    color: gray;
}
.north{
    margin-left: 25%;
    margin-top: 5px;
    color: gray;
}
.cell{
    font-size: 30px;
    margin: 40px 55px;
    color: #08C47E;
}
.callus{
    margin-left: 25%;
    margin-top: -78px;
    font-size: 20px;
    color: #333333;
}
.num{
    margin-left: 25%;
    margin-top: 5px;
    color: gray;
    cursor: pointer;
    transition: all .05s;
}
.num:hover{
    color: #08C47E;
}
.iconemail{
      font-size: 30px;
      margin-top: 40px;
      margin-left: 13%;
      color: #01A2F3;
}
.emailus{
    margin-left: 25%;
    margin-top: -40px;
    font-size: 20px;
    color: #333333;
}
.num{
    margin-left: 25%;
    margin-top: 5px;
    color: gray;
    cursor: pointer;
    transition: all .05s; 
    font-size: 18px;
}
.inputborder{
    /* border: 1px solid #000; */
    height: 500px;
    width: 50%;
    margin-left: 40%;
    padding: 30px;
    box-sizing: border-box;

}
.name{
    width: 45%;
    height: 50px;
    margin-left: 4%;
    margin-top: 20px;
    border-radius: 7px;
    padding: 1px 15px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: hsla(197,70%, 66%, 0.568);
    border: none;
    outline: none;
    color:white!important;
}
.name::placeholder{
    color: white;
}
.messagehere{
    width: 94%;
    height: 200px;
    margin-left: 4%;
    margin-top: 20px;
    border-radius: 7px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.267);
    border: none;
    padding: 20px 15px;
    box-sizing: border-box;
    outline: none;
    color:white!important;
}
.messagehere::placeholder{
    color: white;
}
.submitnow{
    /* border: 1px solid #000; */
    width: 93%;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    margin: 40px 30px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s;
}
.submitnow:hover{
    color: #08C47E;
}
/* /////////////// */
.lastsheet{
    /* border: 1px solid #000; */
    width: 100%;
    height: 500px;
    background-color: #EEF1F8;
    padding: 100px 0;
    box-sizing: border-box;
}
.neuronpic{
    /* border: 1px solid #000; */
    height: 300px;
    width: 20%;
    margin-left: 50px;
    display: inline-block;
}
.lastpic{
    margin-left: 20px;
}
.text1{
    margin-left: 20px;
    margin-top: 20px;
    line-height: 30px;
    color: gray;
}
.facebook{
    /* border: 1px solid #000; */
    font-size: 30px;
    padding: 10px 12px;
    box-sizing: border-box;
    background: linear-gradient(#0AC679, #02A0FB);
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 20px;
    color: white;
}
.workhours{
    /* border: 1px solid #000; */
    width: 23%;
    color: #333333;
    height: 300px;
    display: inline-block;
    vertical-align: top;
}
.hourswork{
    margin-left: 20px;
}
.time{
    margin-left: 20px;
    margin-top: 30px;
    color: gray;
}
.oursupport{
    margin-left: 20px;
    margin-top: 30px;
    color: gray;
    line-height: 20px;
}
.gate{
    color: #333333;
}
.list{
    margin-top: 30px;
}
.list li{
    list-style: none;
    margin-top: 10px;
    color: gray;
    cursor: pointer;
    transition: all 0.5s;
}
.list li:hover{
    color: #01A2F3;
}
.body3{
    /* border: 1px solid #000; */
    width: 30%;
    height: 40%;
    margin-left: 40%;
    margin-top: -170px;
}
.short2 li{
     list-style: none;
     margin-top: 10px;
     color: gray;

     transition: all 0.5s;
     cursor: pointer;
}
.short2 li:hover{
    color: #01A2F3;
}
.privacy2{
    color: #333333;
}
.end{
    list-style: none;
    margin-top: 30px;
}
.end li{
    color: gray;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.end li:hover{
    color: #01A2F3;
}

.endline{
    border: 1px solid gray;
    width: 90%;
    margin-left: 60px;
}
.lasttext{
    text-align: center;
    margin-top: 30px;
    color: #676767;
}